@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v20-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../fonts/roboto-v20-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin_cyrillic-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500italic - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/roboto-v20-latin_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-500italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700italic - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/roboto-v20-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-200 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v15-latin_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('../fonts/montserrat-v15-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin_cyrillic-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}



html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #102746;
    position: relative;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    border: 0;
    width: 100%;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.top__wrapper {
    max-width: 700px;
}

.header__top {
    padding: 4px 0 4px 0;
    background-color: #eeeeee;
    color: #4b4f58;
    font-weight: 100;
    font-size: 14px;
}

.top__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__bottom {
    padding: 10px 0 10px 0;
    background: #ffffff;
}

.header__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__bottom-nav {
    flex-basis: 40%;
}

.header__bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    color: #4b4f58;
}

.header__bottom-tel {
    font-size: 20px;
}

.header__action {
    display: flex;
}

.header__action-item {
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.header__action-svg {
    width: 100%;
    height: auto;
    color: #4b4f58;
}

.header__fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
/*Card section*/
#main {
    padding: 50px 15px 0;
    max-width: 1262px;
    margin: 0 auto;
    position: relative;
    flex: 1 1 auto;
}
.card__container {
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
}
.card {

}
.navbar {
    background: rgba(0, 255, 255, 0.27);
}
.card__body {
    display: grid;
    grid-template-columns: min-content minmax(200px, 2fr) 5fr;
    gap: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
    padding-bottom: 20px;
}
.card__choice-thumb {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}
.card__choice-thumb:focus {
    outline: 2px solid #28a1dc;
}
.card__order_header {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
    padding-bottom: 10px;
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(min-content, max-content) minmax(200px, 250px);
    justify-content: space-between;
}
.vendor__code {
    color: #87878b;
    font-size: 14px;
    margin-bottom: 10px;
}
.brand__logo {

}
p strong {
    color: #102746;
}
.card__title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;

}
.in__stock {
    font-size: 14px;
    color: #87878b;

}
/*Price*/
.card__order_price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
}
.price__title {
    color: #87878b;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.price__auth-person .price__title {
    text-align: right;
}
.price__value {
    display: flex;
}
.user__price {
    margin-right: 10px;
}
.regular__price {
    color: #87878b;
    text-decoration: line-through;
}
/*Card order ACTION */


.card__order_action {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, max-content);
    align-items: center;
    row-gap: 20px;
}
.card__order_action > * {
    grid-column: 1 / span 1;
}
.action__svg {
    display: flex;
    grid-column: 2 / span 1;
}
.action__text {
    color: #87878b;
    font-size: 14px;
}
.add__block, .action__ad_to_cart-btn  {
    width: 120px;
    height: 25px;
}
.action__ad_to_cart-btn {
    width: 120px;
    height: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background: #28a1dc;
    transition: opacity .2s;
    margin-right: 20px;
}
.add__block {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    border: 1px solid #87878b;
}
.add__block span {
    padding-top: 2%;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}
.add__block span:first-child {
    padding-top: 2px;
}

.add__block span:nth-child(2) {
    border-left: 1px solid #87878b;
    border-right: 1px solid #87878b;
}
.add__block span:first-child:hover, .add__block span:last-child:hover {
    background: #28a1dc;
    color: white;
}
.fa-heart, .fa-equals {
    stroke:  #28a1dc;
    stroke-width: 40px;
    display: inline-block;
    margin-right: 20px;
}
.action__svg path {
    display: block;
    fill: #ffffff;
    transition: all 0.8s;
}
.action__svg:hover path, .action__svg:active path, .action__svg:focus path {
    fill: #28a1dc;
}
.action__svg:active path {
    transform: scale(1.3);
    transform-origin: center;
    outline: none;
}

/*TABS*/



.tabs {

}

.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #f8f8f8;
    margin-bottom: 20px;
    /*box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);*/
    /*border-bottom: 1px solid gray;*/
}

.tabs__link {
    padding: 10px 0;
    text-decoration: none;
    color: black;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
}

.tabs__link_active {
    border-bottom: 4px solid #28a1dc;

    cursor: default;

}

/*.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
    background-color: #efefef;
}*/

.tabs__content {
    /*box-shadow: 0 0px 8px 1px rgba(0,0,0,0.1);*/
    padding: 1rem;
}

.tabs__pane {
    display: none;
}

.tabs__pane_show {
    display: block;
}

/*WIDTH THIS*/
.related {
    padding-top: 30px
}
.related__title {
margin-bottom: 20px;
    font-weight: 500;
}
.best {
    padding: 0 0 30px 0;
    overflow: hidden;
}
.best .wrapper {
    overflow: hidden;
}
.best__title {
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 30px
}
.best__carousel {
    width: 100%;
    height: 410px;
    position: relative;
    overflow: hidden;
    padding: 5px 0 5px 5px;
}
.best__btn {
    opacity: 0;
    position: absolute;
    top: 40%;
    text-decoration: none;
    width: auto;
    padding: 10px;
    font-weight: 400;
    font-size: 54px;
    user-select: none;
    color: #87878b;
    cursor: pointer;
    transition: opacity  .2s;
}
.best__btn-next {
    left: calc(100% - 53px);
}
.best__carousel:hover .best__btn {
    opacity: 1;
}
.best__btn:hover {
    background-color: rgba(174, 172, 177, 0.24);
}

.best__slider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    left: 0;
    transition: all .6s;
}
.best__card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 24%;
    transition: all .5s;
    position: relative;
    margin-right: 1%;
}
.best__card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.best__card:hover .best__cart-svg {
    fill: white;
}
.best__desc {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #87878b;
    font-size: 14px;
}
.best__desc span:first-child {
    display: block;
    margin-bottom: 10px;
}
.best__desc span:last-child {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #102746;
}
.best__card-link {
    align-self: center;
}
.best__card-img {
    width: 100%;
    height: auto;
}
.best__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 30px 30px 30px;
    background-color: rgba(39, 157, 215, 0);
    transition: all .5s;
}
.best__card:hover .best__card-footer {
    background-color: rgba(39, 157, 215, 1);
    color: white;
}

.best__price-title {
    margin-bottom: 10px;
}
.best__cart-icon {
    width: 22px;
    height: 22px;
}
.best__cart-svg {
    height: 100%;
    width: 100%;
}

/*FOOTER*/
.footer {
    position: relative;
    top: 74px;
    color: white;
    background-color: #4b4f58;
    padding: 50px;
}
